<ion-side-menus enable-menu-with-back-views="false" ng-controller="AppCtrl">
    <ion-side-menu-content>

        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-search" ui-sref="app.search">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <div class="top-statusbar"></div>
        <div class="list no-margin" ng-if="config.config.login.hasLogin">
            <ion-item menu-close class="item-avatar item-icon-right" ui-sref="app.profile">
                <!-- <div class="image-adjust" ng-style="userdetails.myimage"></div> -->
                <img  class="image-adjust" cache-src="{{userdetails.profilePic | serverpath:80:80:'cover':'profile'}}" circle-container-style="{{circleStyle}}" alt="" />
                <h3>{{userdetails.name}}</h3>
                <p>{{userdetails.email}}</p>
                <i class="icon ln-gear2 small" ng-click="toSetting();  $event.stopPropagation();" menu-close></i>
            </ion-item>
        </div>
        <ion-content ng-class="logso">
            <div class="list menu-set">
                <ion-item nav-clear menu-close class="item item-icon-left menuitem" href="{{menu.topage}}" target="{{menu.target}}" ui-sref-active="bordered" ng-repeat="menu in menudata" ng-if="menu.status == '1'">
                    <i class="icon {{menu.iconType}}" ng-if="menu.iconType!='custom'"></i>
                    <img cache-src="{{menu.icon | serverpath}}" circle-container-style="{{circleStyle}}" alt="" ng-if="menu.iconType=='custom'" class="menu-img"/>{{menu.name}}

                </ion-item>
                <ion-item nav-clear menu-close class="item item-icon-left item-complex" ng-click="logout()" ui-sref-active="bordered" ng-if="config.config.login.hasLogin">
                    <div class="item-content"><i class="icon ln-arrow-right2"></i>Logout</div>
                </ion-item>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
