<ion-view view-title="About">
    <ion-content>
        <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
        <div class="padding">
            <h3>"Difference-a-header-makes...."</h3>
            <p>Our websites are our online homes. It makes sense that we want&nbsp;to give them personality and warmth,&nbsp;just like we do with our physical homes. Our websites are our online homes. It makes sense that we want&nbsp;to give them personality and warmth,&nbsp;just like we do with our physical homes.</p>
        </div>
    </ion-content>
</ion-view>
