<ion-view view-title="Events">
    <div class="text-center positive middle-align" ng-if="msg != ''">
        {{msg}}
    </div>
    <ion-content>
      <ion-refresher
        pulling-text=""
        on-refresh="refreshData()">
      </ion-refresher>
        <ion-list>
            <ion-item collection-repeat="event in events" class="item-thumbnail-left item-text-wrap" ng-click="geteventdetails(event._id);">
                <!-- <div class="image-adjust img-content" ng-style="{'background-image':'url({{event.image|serverimage}})'}"></div> -->
                  <img cache-src="{{event.image | serverpath:80:80:'cover'}}" circle-container-style="{{circleStyle}}" alt="" />
                <h2 class="pdb">{{event.name}}</h2>

                <span class="icon-space"><i class="icon ln-calendar3"></i></span><span class="font-light">{{event.startTime|date : 'dd MMM, yyyy'}}</span>
                <br>
                <span class="icon-space"><i class="icon ln-timer"></i></span><span class="font-light">{{event.endTime|convertto12}}</span>
                <ion-option-button class="button-positive" ng-click="share(event)">
                    Share
                </ion-option-button>
            </ion-item>
            <ion-infinite-scroll on-infinite="loadMorePolls()" ng-if="keepscrolling" distance="25%">
            </ion-infinite-scroll>
        </ion-list>
    </ion-content>
</ion-view>
