<ion-modal-view class="video-overlay">
    <ion-content class="full-height">
        <div class="padding">
            <button class="button button-light button-outline button-small pull-right" ng-click="closeMap();">
                Done
            </button>
        </div>
        <div class="at-center">
          <div class="map" ng-bind-html="mapframe|rawHtml">
          </div>
          <!-- <iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q='+YOUR_LAT+','+YOUR_LON+'&hl=es;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q='+data.lat+','+data.lon+'&hl=es;z=14&amp;output=embed" style="color:#0000FF;text-align:left" target="_blank">See map bigger</a></small> -->
        </div>
    </ion-content>
</ion-modal-view>
