<ion-view view-title="Search">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="search.text" placeholder="Search" ng-change="getsearchelement(search.text)">
      </label>
      <button class="button button-clear" ng-click="clear()">
        Cancel
      </button>
    </div>
    <ion-list>
      <ion-item ng-repeat="item in searchresults.searchevent" ng-click="openevents(item._id)">
        <span>{{item.name}}</span>
        <span class="item-note">Event</span>
        <!-- <p>{{item.subtitle}}</p> -->
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
      </ion-item>
      <ion-item ng-repeat="item in searchresults.searchgallery" ng-click="opengallery(item.id)">
        <span>{{item.name}}</span>
        <span class="item-note">Gallery</span>
        <!-- <p>{{item.subtitle}}</p> -->
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
      </ion-item>
      <ion-item ng-repeat="item in searchresults.searchvideogallery" ng-click="openvideogallery(item._id)">
        <span>{{item.title}}</span>
        <span class="item-note">Video</span>
        <!-- <p>{{item.subtitle}}</p> -->
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
      </ion-item>
      <ion-item ng-repeat="item in searchresults.blog" ng-click="openblog(item.id)">
        <span>{{item.title}}</span>
        <span class="item-note">Blog</span>
        <!-- <p>{{item.subtitle}}</p> -->
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
      </ion-item>
      <ion-item ng-repeat="item in searchresults.article" ng-click="openarticle(item._id)">
        <span>{{item.name}}</span>
        <span class="item-note">Page</span>
        <!-- <p>{{item.subtitle}}</p> -->
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
      </ion-item>
      <ion-item ng-repeat="item in searchresults.notification" ui-sref="app.notification">
        <span ng-bind-html="item.content"></span>
        <!-- <p>{{item.subtitle}}</p> -->
        <span class="item-note">Notification</span>
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
      </ion-item>
      <ion-item ng-repeat="item in searchresults.contacts" ui-sref="app.contact">
        <span>{{item.title}}</span>
        <!-- <p>{{item.subtitle}}</p> -->
        <span class="item-note">Contact</span>
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
      </ion-item>
      <ion-item ng-repeat="item in searchresults.home" ui-sref="app.home">
        <span>{{item.name}}</span>
        <!-- <p>{{item.subtitle}}</p> -->
        <span class="item-note">Home</span>
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
