<ion-view view-title="Our Team">
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="item item-image">
                    <img src="img/user.png">
                </div>
                <div class="item item-text-wrap">
                    <h2>Janice Murray</h2>
                    <h4>C.E.O.</h4>
                    <div class="team-detail">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae amet quidem aut nisi deleniti recusandae magnam sapiente.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="item item-image">
                    <img src="img/user.png">
                </div>
                <div class="item item-text-wrap">
                    <h2>Janice Murray</h2>
                    <h4>C.E.O.</h4>
                    <div class="team-detail">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae amet quidem aut nisi deleniti recusandae magnam sapiente.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
